

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    margin: 20px;
}

#applyCompany {
    margin-top: 20px;
}

.data-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item {
    width: 200px;
    height: 270px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.poster-pre {
    max-width: 100%;
    height: auto;
    display: block; /* Added to center align the image */
    margin: 0 auto; /* Added to center align the image */
    width: 250px; /* Set the width to 250px */
    height: 140px; /* Set the height to 250px */
}

.info-pre {
    margin-top: 10px;
       position: relative; /* 추가: 상대 위치 설정 */
       width:178px;
       height:100px;
}

.content-provide,
.priceline,
.content-personnel,
.content-period1,
.content-period2 {
    position: absolute;
    bottom: 0; /* 추가: 아래로 정렬 */
}

.title-pre {  /*업체명*/
    font-size: 20px;
    font-weight: bold;
	
}
.title{
	 color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  width: 180.25px;
  height: 17.74px;
  white-space: nowrap; /* 추가 */
  margin-bottom: 3px;
}

.content-provide { /*제공타입*/
  color: #fe0202;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: 35.02px;
  height: 17.74px;
  white-space: nowrap; /* 추가 */
  top:20px;
}
.content-price { /*가격*/
    color: #888888;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  width: 54.59px;
  height: 12.9px;
  margin-left: 120px;
  top:20px;
  text-decoration: line-through; /*취소선*/
}

.div3{
	 color: #888888;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  width: 54.59px;
  height: 12.9px;
  top:40px;
}
.content-personnel { /*인원 수*/
  color: #00ff19;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  width: 39.14px;
  height: 12.9px;
  top:40px;
  margin-left:70px;
}

.content-period1, .content-period2 { /*기간 컬럼*/
    color: #888888;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  width: 128.75px;
  height: 25.81px;
  white-space: nowrap; /* 추가 */
}

.content-period1 {
    margin-bottom: 1px; /* 간격을 더 조절 */
    top:60px;
}


.none-content {
    color: #777;
}

/* Add any additional styling as needed */



.paging-area {
	width: 300px;
	margin: 0px auto;
	margin-bottom: 50px;
	text-align: center;
}
.btn-area {
	width: 300px;
	margin: 0px auto;
	margin-bottom: 100px;
	text-align: center;
}
.btn-area .paging {
	width: 100%;
	height: 30px;
	margin: 0px auto;
	opacity: 0.8;
	text-align: center;
}
.paging .pno {
	display: inline-block;
	background-color: #efefef;
	margin: 2px;
	border: 1px solid #6c6c6c;
	border-radius: 3px;
	line-height: 1.8;
	font-size: 15px;
	width: 30px;
	height: 30px;
}
font.pno {
	color: #0B3736;
	font-weight: bold;
}
.paging>a {
	text-decoration: none;
}
.paging>a:visited {
	color: #575757;
}