/* applyCompany.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    margin: 20px;
}

#applyCompany {
    margin-top: 20px;
}

.data-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.poster-pre {
    max-width: 100%;
    height: auto;
    display: block; /* Added to center align the image */
    margin: 0 auto; /* Added to center align the image */
    width: 250px; /* Set the width to 250px */
    height: 250px; /* Set the height to 250px */
}

.info-pre {
    margin-top: 10px;
}

.title-pre {  /*업체명*/
    font-size: 20px;
    font-weight: bold;
}

.content-provide { /*제공타입*/
    margin-top: 5px;
    font-size: 14px;
}
.content-price { /*가격*/
    margin-top: 5px;
    font-size: 16px;
}
.content-personnel { /*인원 수*/
    margin-top: 5px;
    font-size: 10px;
}

.content-period1, .content-period2 { /*기간 컬럼*/
    margin-top: 5px;
    font-size: 9px; /* 줄인 글씨 크기 */
}

.content-period1 {
    margin-bottom: 1px; /* 간격을 더 조절 */
}


.none-content {
    color: #777;
}

/* Add any additional styling as needed */



.paging-area {
	width: 300px;
	margin: 0px auto;
	margin-bottom: 50px;
	text-align: center;
}
.btn-area {
	width: 300px;
	margin: 0px auto;
	margin-bottom: 100px;
	text-align: center;
}
.btn-area .paging {
	width: 100%;
	height: 30px;
	margin: 0px auto;
	opacity: 0.8;
	text-align: center;
}
.paging .pno {
	display: inline-block;
	background-color: #efefef;
	margin: 2px;
	border: 1px solid #6c6c6c;
	border-radius: 3px;
	line-height: 1.8;
	font-size: 15px;
	width: 30px;
	height: 30px;
}
font.pno {
	color: #0B3736;
	font-weight: bold;
}
.paging>a {
	text-decoration: none;
}
.paging>a:visited {
	color: #575757;
}
