/* 로고 스타일 */
.logo {
	margin: 4px;
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

/* 헤더 바 */
.top-bar {
	background-color: #006BB9;
	color: #fff;
	line-height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* 사이트 이름 위치 조정 */
.site {
	flex: 1;
	text-align: center;
}

/* 로그인, 회원가입 링크 스타일 */
.link {
	font-size: 15px;
	color: white;
}

/* 푸터 바 */
.footer-bar {
	background-color: #006BB9;
	color: #fff;
	height: 60px;
	line-height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrap {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	padding: 15px 30px;
	margin: 0 auto;
	width: 800px;
	height : 100%;
	flex: 1;
	border: 1px solid;
	border-color: #006BB9;
	border-radius: 10px;
}
form {
	margin-top : 50px;	
	margin-bottom : 50px;	
}
.content .result-section {
	height:100px;
	border: 1px solid;
	border-color : #006BB9;
	border-radius : 10px;
	text-align: center;
}
.result-section h4 {
	margin-top: 33px;
}
.form-header {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 2em;
	text-align: center;
	font-size: 1.8em;
}

/* 댓글 작성 버튼 */
.wr-btn {
	padding: 10px 16px;
	font-size: 16px;
	line-height: 1.5;
	border-radius: 6px;
	color: #fff;
	background-color: #1877F2;
}

/* 입력 필드 스타일 */
.write-input {
	position: relative;
	height: auto;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
	display: block;
	width: 100%;
	line-height: 1.5;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn-area {
	margin-top:50px;
	height:50px;
	width: 300px;
	margin-left: 220px;
	margin-bottom: 100px;
	text-align: center;
}
.btn-write {
	width: 100px;
	padding: 10px 16px;
	font-size: 16px;
	line-height: 1.5;
	border-radius: 6px;
	color: #fff;
	background-color: #1877F2;
	margin-top: 10px;
}
.btn-write[type="button"] {
	background-color: black;
}
/* 파일 업로드 버튼 스타일 */
.filebox label {
	display: inline-block;
	padding: 10px 20px;
	color: #ffffff;
	vertical-align: middle;
	background-color: #006BB9;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	width: 20%;
}

/* 파일 업로드명 스타일 */
.filebox .upload-name {
	display: inline-block;
	width: 79%;
	height: 35px;
	font-size: 16px;
	padding: 0 10px;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-radius: 5px;
}
