.footer-bar {
	background-color: #006BB9;
	color: #fff;
	height: 60px;
	line-height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-logo {
	width: 30px;
	border-radius: 5px;
	margin-right: 5px;
}