@charset "UTF-8";

.review {
	display: flex;
    flex-wrap: wrap; /* 필요할 때 줄 바꿈 */
}

.review-poster {
	height: 210px;
	margin-left: 31px;
	margin-right: 31px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.review-title {
	max-width: 200px; /* 최대 너비 설정 */
    min-width: 200px; /* 최소 너비 설정 */
    max-height: 20px; /* 최대 높이 설정 */
    min-height: 30px; /* 최소 높이 설정 */
    margin-left: 31px;
    margin-right: 31px;
    width: 200px; /* div의 너비 설정 */
    overflow: hidden; /* 초과된 텍스트 숨김 */
    white-space: nowrap; /* 줄바꿈 방지 */
    text-overflow: ellipsis; /* 생략 부호 (...) 추가 */
	word-wrap: break-word; /* 단어 단위로 줄바꿈 */
    overflow-wrap: break-word; /* 단어 단위로 줄바꿈 (word-wrap과 동일한 기능) */
}
.review-contents {
	max-width: 200px; /* 최대 너비 설정 */
    min-width: 200px; /* 최소 너비 설정 */
    max-height: 200px; /* 최대 높이 설정 */
    min-height: 200px; /* 최소 높이 설정 */
    margin-left: 31px;
    margin-right: 31px;
    width: 200px; /* div의 너비 설정 */
    overflow: hidden; /* 초과된 텍스트 숨김 */
    white-space: nowrap; /* 줄바꿈 방지 */
    text-overflow: ellipsis; /* 생략 부호 (...) 추가 */
	word-wrap: break-word; /* 단어 단위로 줄바꿈 */
    overflow-wrap: break-word; /* 단어 단위로 줄바꿈 (word-wrap과 동일한 기능) */
}

.review-contents a {
	color: black; /* 링크의 색상을 검정색으로 설정 */
}
.review-contents a:hover {
	color: black;
	text-decoration: none; /* 밑줄 제거 */
}
.review-title a{
	font : bold;
	font-size: 20px;
	text-decoration: none;
}
.review-title a:hover {
	color: #006BB9;
	text-decoration: none; /* 밑줄 제거 */
}
